.avaWrap {
	width: 70px;
}
.pagWrap {
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
}
.pagButton {
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	width: 30px;
	margin: 10px;
	border: 2px solid #000;
	border-radius: 8px;
	transition: color .3s ease-out, border-color .3s ease-out;
}
.pagButton:hover {
	background-color: #9ACD32;
	border-color: #9ACD32;
}
.selectedPage {
	font-weight: bold;
}