.app-wrapper {
  display: grid;
  width: 100%;
  /* max-width: 1200px; */
  height: 100vh;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px; /* вместо grid-gap */
  
}

.head {
  grid-area: h;
  background-color: yellowgreen;
}

.head img {
  height: 55px;
  border-radius: 8px;
}

.navig {
  height: n;
  background-color: palegreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navig a {
  color: #363838;
  font-size: 25px;
}
.navig div {
  margin: 5px 0;
}

.content {
  height: c;
  background-color: yellow;
}

.content img {
  width: 100%;
  border-radius: 6px;
}

.gitem {
  /* color: #F88500; */
  border: 3px solid #F88500;
  border-radius: 8px;
}